@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #6F2DA8 !important;
}

.container {
    background-color: white;
}

.title {
    margin: 2em;
}

#center-label {
    display: flex;
    align-items: center;
    justify-content: right;
}

#center-label-estado {
    display: flex;
    justify-content: right;
}

#center-checkbox {
    margin-top: 7px;
}

#estado {
    margin-right: 10px;
}

.btn-toolbar {
    justify-content: center !important;
    margin-bottom: 5% !important;
}

#guardar-button {
    margin-right: 60%;
}

form {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 10% !important;
}

.modal-footer {
    justify-content: center !important;
}